.promo {
    background-color: #073042;
}

.promo__container {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 50px 60px;
}

.promo__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: white;
    width: 626px;
    margin: 0;
}

.promo__image {
    width: 722px;
    height: 244px;
    align-self: end;
}

@media screen and (max-width: 960px) {
    .promo__container {
        padding: 300px 0 70px;
        min-height: 474px;
    }

    .promo__title {
        margin: 0 auto;
        text-align: center;
    }

    .promo__image {
        width: 680px;
        height: 230px;
        align-self: center;
    }
}

@media screen and (max-width: 660px) {
    .promo__container {
        padding: 183px 0 40px;
    }

    .promo__title {
        font-weight: 400;
        font-size: 31px;
        line-height: 39px;
        max-width: 626px;
        width: auto;
        letter-spacing: -0.04em;
    }
}