.card {
    background-color: #222222;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.card__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: white;
    margin: 0;
    align-self: center;
}

.card__save-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.card__length {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
}

.card__panel {
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 14px 12px;
    row-gap: 10px;
}

.card__delete-icon {
    padding: 7px;
    object-fit: cover;
}

.card__image {
    width: 100%;
    height: 151px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 960px) {
    .card__image {
        height: 191px;
    }
}